body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #dcdcdc;
    background-color: #111154;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #dcdcdc;
}

title {
  background-color: #8e6e0b;
}

hh{
  font:30px "Gill Sans", Verdana, sans-serif;
  color:#895321;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #561414;
  color: #ad770b;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #dcdcdc;
}

.nav-link {
  border: 3px outset #545411;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #115433;
  color: #dcdcdc;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #FFFFFF;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #115433;
  transition: 0.3s;
}

#btn {
  border: 3px outset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #115433;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #FFFFFF;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #115433;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #dcdcdc;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: #dcdcdc;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}

scrollablecode {
   max-height: 220px; /* adjust height as needed */
    overflow: auto;
    background: #f8f9fa;
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    line-height: 1.25;
}
